location /index.html {
http2_push /js/src/schemes/pisces.js
http2_push /js/src/affix.js
http2_push /js/src/motion.js
http2_push /js/src/bootstrap.js
http2_push /js/src/js.cookie.js
http2_push /js/src/utils.js
http2_push /js/src/scroll-cookie.js
http2_push /lib/font-awesome/css/font-awesome.min.css
http2_push /lib/Han/dist/han.min.css
http2_push /css/main.css
http2_push /lib/fancybox/source/jquery.fancybox.css
http2_push /images/180x180.png
http2_push /images/logo.svg
http2_push /images/myself.jpg
http2_push /images/if_Heart_132612.png
}
